<%= render 'login' %>
<h2>Restaurants in London</h2>

<h4><%= link_to 'Add a new Restaurant', new_restaurant_path %> </h4>

<% @restaurants.each do |restaurant| %>
	<div class='col-md-4'>
		<h3><%= restaurant.name %> </h3>
		<p><h4><%= restaurant.body %></h4></p>
		<!-- created by: %= restaurant.user.email if restaurant.user.email % -->
		<p>
		<% @reviews = restaurant.reviews.all %>
		 <% @reviews.each do |review| %>
			<p>
			<%= review.body %>
		<% end %> 
		<p><%= link_to "Add Review", new_restaurant_review_path(restaurant) %></p>
	</div>
<% end %>


