<h2>Restaurants in London</h2>

<h4><%= link_to 'Add a new Restaurant', new_restaurant_path %> </h4>

<% @restaurants.each do |restaurant| %>
	<div class='col-md-4'>
		<h3><%= restaurant.name %> </h3>
		<p><h4><%= restaurant.body %></h4></p>
		<% if restaurant.user %>
			created by <%= restaurant.user.email %>
		<% end %>
		<!-- caption
		% @user = User.find(user_id, restaurant.user_id) %
			created by: %= @user.email if @user.email %
		/caption -->

		<p>
		<% @reviews = restaurant.reviews.all %>
		<% @sum_of_ratings = 0 %>
		<% @count = 0 %>
		<% @reviews.each do |review| %>
			<% @sum_of_ratings += review.rating %>
			<% @count += 1 %>
		<% end %>
	</p>

		<% if (@count > 0) %>
			 <% avg_rating = @sum_of_ratings/@count %>
			 <% @counter = 1 %>
			 <% while (@counter != avg_rating+1) %>
			 		<div class='star solid'>&#9733;</div>
			 		<% @counter += 1 %>
			 	<% end %>
			 <% while (@counter < 6) %>
			 		<div class='star hollow'>&#9734;</div>
			 		<% @counter += 1 %>
			 	<% end %>
			 	<p>
		<% end %>
		<p> </p>
		 <% @reviews.each do |review| %>
			<%= review.body %> <%= review.rating %>/5
			<div class='timestamp'>
			created at <%= review.created_at %>
			<p>
			</div>
		<% end %> 
		
		<p>
			<%= link_to "Add Review", new_restaurant_review_path(restaurant) %></p>

	</div>
<% end %>


