<%= form_for([@review.restaurant, @review]) do |f| %>
	<h2>Add Review for <%= @review.restaurant.name %></h2>
	<p>
	<%= f.label :"Rating out of 5" %>
	<%= f.text_field :rating %>
	<p>
	<%= f.label :"Review:" %>
	<%= f.text_field :"body" %>	
	<p>
	<%= f.submit :"Submit Review" %>

<% end %>